<div class="wf-box">
	<h3 class="title-default">Teaser Alternate</h3>

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aut commodi dolorum earum expedita incidunt,
		laborum saepe totam unde voluptates.</p>
</div>